body {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .title {
        letter-spacing: 2px;
        border-bottom: solid 1px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        letter-spacing: 5px;
        font-size: 10px;
        color: rgb(128, 167, 181);
        padding-left: 50px;
        padding-right: 50px;
    }

    .content {
        line-height: 1.8;
        max-width: 500px;
    }

    p {
        text-align: left;
        padding: 5px;
        width: 475px;
    }

    img {
        width: 200px;
        margin: 50px;
    }

    list {
        text-align: left;
    }

    li {
        padding: 5px;
    }
    
    .dark {
        color:white;
        background-color: black;
    }